<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Artistas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="6" size-md="6" size-lg="12" size="12" color="primary"> 
      <ion-card>
        <form (ngSubmit)="save_artist();" [formGroup]="artistForm">
          <ion-card-content>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" formControlName="pName"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && artistForm.controls.pName.invalid">
                <ion-text color="danger">Nombre requerido.</ion-text>
              </div>
          </ion-card-content>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button expand="block" fill="outline" type="submit">Registrar</ion-button>
              <ion-button expand="block" fill="outline" *ngIf="selected_artist" color="danger" (click)="eliminar()">Eliminar</ion-button>
            </ion-col>
          </ion-row>
          </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
