<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>&Aacute;lbumes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="small" (click)="new_album();">
    <ion-icon name="add-outline"></ion-icon>Nuevo
  </ion-button>

  <ion-list>
    <ion-list-header>
      Lista de &Aacute;lbumes
    </ion-list-header>
  </ion-list>
  
  <ion-item *ngFor="let album of albums_list" (click)="select_album(album);">
    <ion-avatar slot="start">
      <img src="./assets/shapes.svg">
    </ion-avatar>
    <ion-label>
      <h2>{{album.album_name}}</h2>
      <h3>{{album.album_date_released}} . {{album.album_time_released}}</h3>
      <p>{{album.artist_name}} . {{album.genre_name}}</p>
    </ion-label>
  </ion-item>

</ion-content>
