<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Albums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6" size-md="4" size-lg="3" size="6" routerLink="/albums"> 
        <ion-card>
          <ion-card-header>
            <ion-card-title>&Aacute;lbumes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2017/11/AOTY-17.jpg" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
